<div class="row footer">
  <div class="col-xs-12 col-sm-6">
    <div class="gauche">
      <ul>
        <li>
          Pourquoi passer par mes services ?
        </li>
        <li>
          Parcours
        </li>
        <li>
          Mentions légales
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="droite">
      <ul>
        <li>
          addresse
        </li>
        <li>
          numéro de téléphone
        </li>
        <li>
          email
        </li>
      </ul>
      <div class="carte">
        <img src="images/map.png" style="height: 100px" alt="">
      </div>
    </div>
  </div>
</div>
