<div class="row footer text-center">
<!--   <div class="col-xs-12 col-sm-6">
    <div class="gauche">
      <ul>
        <li>
          <a href="about.html">Pourquoi passer par mes services ?</a>
        </li>
        <li>
          <a href="parcours.html">Parcours</a>
        </li>
        <li>
          <a href="#">Mentions légales</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="droite">
      <ul>
        <li>
          addresse
        </li>
        <li>
          numéro de téléphone
        </li>
        <li>
          email
        </li>
      </ul>
      <div class="carte">
        <img src="images/map.png" style="height: 100px" alt="">
      </div>
    </div>
  </div> -->
  <div class="text-center">
      <ul>
        <div class="col-xs-4">
        <li>
          <a href="parcours.html">Pourquoi passer par mes services ?</a>
        </li>
        </div>
        <div class="col-xs-4">
        <li>
          <a href="mapresentation.html">Parcours</a>
        </li>
      </div>
      <div class="col-xs-4">
        <li>
          <a href="mentionslegales.html">Mentions légales</a>
        </li>
      </div>

      </ul>
      </div>
</div>
