.droite {
 display: flex;
}

.footer {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  opacity: 0.3;
}

.carte {
padding-left: 50px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black !important;
}

a:hover {
text-decoration: none;
  color: black !important;
  opacity: 0.7;
}


