.droite {
 display: flex;
}

.footer {
  background-color: #7DBAF0;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.carte {
padding-left: 50px;
}

ul {
  list-style-type: none;
}

li:hover {
  color: red;
}


