.titrebanner {
  text-align: center;
  padding-top: 250px;
  color: white;
  padding-left: 20px;
}

.bande-bleu {
  padding: 35px 0px;
  background-color: #7DBAF0;
  color: white;
}

.banner {
  background-size: cover;
}
.bande-blanche {
  padding: 35px 0px;
  background-color: white;
}

.paragraphe {
padding-top: 25px;
padding-left: 20px;
}

#margin-paragraphe {
  padding-top: 25px;
}

.margin {
  padding-bottom: 15px;
}

.page-scroll {
  text-align: center;
}

.page-scroll  {
   color: white !important;
}


.paragraphe {
  margin-left: 25px;
  padding-right: 25px;
}
