.titrebanner {
  text-align: center;
  padding-top: 50px;
  color: white;
}

.bande-bleu {
  background-color: blue;
  height: 30vh;
  color: white;
  text-align: center;
}

.bande-blanche {
  background-color: white;
  height: 30vh;
  margin-top: 0;
}

.element {
 padding-top: 60px;
}

.titre-bande {
  padding-top: 10px;
}

.paragraphe {
  padding: 50px;
}
