
  <div class="row banner" style="background-image: url('images/cabinet.jpg'); height: 100vh;">
    <div class="titrebanner text-center">
      <h1 class="text-center">Helene PICAVEZ - Psychologue</h1>
      <h2 class="text-center">12 ans d'expérience</h2>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Prendre rendez-vous</button>
    </div>
    <div class="page-scroll">
      <a href="#service" class="btn btn-circle">
       <!--  <i class="fa fa-angle-double-down animated fa-7x"></i> -->
      </a>
    </div>
  </div>
  <div class="row bande-bleu text-center">
    <div class="col-xs-12 col-sm-4">
      <div class="margin">
        <img src="images/confusion.png" alt="">
      </div>
      <p>Thérapie conitive et comportementale</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="margin">
        <img src="images/location-pin (1).png" alt="">
      </div>
      <p>Phalempin <br> 06.00.00.00.00</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="margin">
        <img src="images/icon.png" alt="">
      </div>
      <p>Pourquoi passer par mes services</p>
    </div>
  </div>
  <div class="row bande-blanche">
    <p  style="font-size: 28px;" class="text-center">Présentation</p>
    <div class="col-xs-12 col-sm-10">
    <p class="paragraphe" >
    Je suis Hélène Picavez, psychologue et je vous accueille dans mon cabinet à Phalempin dans le Nord.
    Master 2 psychologie thérapies émotionnelles cognitives et comportementales EMDR Thérapies systémiques brèves Formation thérapie familiale en cours</p>
    </div>
    <div class="col-xs-12 col-sm-2">
    <img src="images/helene.jpg" style="height: 150px;" alt="">
    </div>
  </div>
  <div class="row bande-bleu">
    <p style="font-size: 28px;" class="text-center">Domaine</p>
    <p class="paragraphe">Thérapies cognitives et comportementales (restructuration cognitive, estime de soi..), EMDR (désensibilisation par les mouvements oculaires), psychologie positive, ACT, pleine conscience
    Pratique intégrative avec une formation solide de TECC, forte d'une expérience institutionnelle de 12 ans auprès d'équipes pluridisciplinaires. Ecoute bienveillante tournée vers la recherche de solutions.</p>
  </div>
  <div class="row bande-blanche">
    <p style="font-size: 28px;" class="text-center">Pourquoi passer par mes services ?</p>
    <p class=" paragraphe">Je suis Hélène Picavez, psychologue et je vous accueille dans mon cabinet à Phalempin dans le Nord.
    Master 2 psychologie thérapies émotionnelles cognitives et comportementales EMDR Thérapies systémiques brèves Formation thérapie familiale en cours</p>
  </div>
<!-- Small modal -->


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content text-center">
      <div id="wufoo-mic1bgo05jcqzi" class="text-center">
        Fill out my <a href="https://franco1995.wufoo.com/forms/mic1bgo05jcqzi">online form</a>.
        </div>
        <div id="wuf-adv" style="font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;">Use <a href="http://www.wufoo.com/partners/">Wufoo integrations</a> and get your data to your favorite apps.</div>
        <script type="text/javascript">var mic1bgo05jcqzi;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'franco1995',
        'formHash':'mic1bgo05jcqzi',
        'autoResize':true,
        'height':'577',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { mic1bgo05jcqzi = new WufooForm();mic1bgo05jcqzi.initialize(options);mic1bgo05jcqzi.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>
    </div>
  </div>
</div>
