      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="title text-center">Mentions Légales</h2>
            <p class="description">
              <h4>Adresse : 165 Avenue de Bretagne, 59000 Lille </h4>
              <h4>E-mail : helenepicavez@gmail.com </h4>
              <h4>Site Web : helenepicavez.fr</h4>

              <h4>Dirigeants :

                Hélène PICAVEZ,

                </h4> <br>

                <h4>RESPONSABILITES</h4>

                helenepicavez.com, en tant que fournisseur d’hébergement, possède le statut d’hébergeur tel que

                prévu par la loi du 21 juin 2004, dite LCEN (Loi pour la Confiance en l’Économie Numérique).

                L’article 6-1- 2 de ladite loi prévoit cette qualité pour la personne morale, « qui assure, même

                à titre gratuit, pour mise à disposition du public par des services de communication au public

                en ligne, le stockage de signaux, d’écrits, d’images, de sons ou de messages de toute nature

                fournis par des destinataires de ces services » <br><br>

                Autrement dit, helenepicavez.com atteste que les opérations effectuées sur les contenus diffusés sur

                le présent site se limitent à des transformations purement techniques (et notamment des

                opérations de ré-encodage, classification par mots-clefs, formatage…).<br>

                Aussi, en sa qualité d’hébergeur, et conformément à l’article 6-1- 2 de la LCEN, helenepicavez.com

                décline toute responsabilité, civile ou pénale, concernant le contenu du présent site.

                A titre exceptionnel, sa responsabilité pourra être mise en œuvre s’il est averti du contenu

                illicite sans en suspendre promptement la diffusion.<br><br>

                PROPRIETE INTELLECTUELLE<br><br>

                Le contenu du présent site, incluant notamment une charte graphique, des images, textes,

                vidéos, animations, sons, logos, et icônes ainsi que leur mise en forme sont la propriété

                exclusive de helenepicavez.com à l&#39;exception des marques, logos ou contenus appartenant aux

                sociétés partenaires ou aux différents réseaux sociaux.<br>

                L’ensemble des droits d’auteur des œuvres reproduites sur ce site sont réservés.

                Sauf autorisation écrite et expresse de helenepicavez.com, toute utilisation, exploitation,

                reproduction, distribution, modification, adaptation, ou publication, même partielle, de ces

                différents éléments est strictement interdite.<br>

                Lesdits actes, accomplis par quelque procédé que ce soit, sont constitutifs d’actes de

                contrefaçon tels que définis par le Code de la propriété intellectuelle, et sanctionnés par les

                articles L. 335-2 et suivants du même code.<br>

                helenepicavez.com est, en outre, propriétaire des « droits des producteurs de bases de données »

                visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet

                1998) relative aux droits d&#39;auteur et aux bases de données.<br><br>

                PROTECTION DES DONNEES PERSONNELLES<br><br>

                <!-- helenepicavez.com s’engage à respecter les dispositions de la loi sur l&#39;informatique et les libertés (loi

                n°78-17 du 6 janvier 1978 modifiée).<br>

                Le site internet de helenepicavez.com est régulièrement enregistré à la CNIL sous le numéro

                d&#39;enregistrement XXXX.<br> -->

                Les informations recueillies auprès des sociétés partenaires font l’objet d’un traitement

                informatisé destiné à apporter aux utilisateurs de helenepicavez.com un service optimisé dans le

                domaine de la comparaison d’agences immobilières.<br>

                Le destinataire des données est helenepicavez.com.<br>

                Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous

                bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que

                vous pouvez exercer via la section « Contactez-nous » présente sur ce site. <br> Vous pouvez

                également, pour des motifs légitimes, vous opposer au traitement des données vous

                concernant.

              </p>
            </div>
          </div>
        </div>

