      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="title text-center">Mentions Légales</h2>
            <p class="description">


        Hélène PICAVEZ
    <br>
        58 rue du générale de Gaulle 59133 Phalempin
  <br>
        téléphone: 07 64 13 72 58
<br>
        Mail: helenepicavez@gmail.com
<br>
        Siret:  82329893000012
<br>
        Code adeli : 599309168
<br>
        Code naf: Activités de santé humaine non classées ailleurs (8690F)

<br>
       <h2>Hébergement du site</h2>
        Github
        <br>
        88 Colin P Kelly Jr St
        <br>
        San Francisco, CA 94107
        <br>
        United States

        <h2>Traitement de données personnelles</h2>
        Les informations que Hélène PICAVEZ sera amenée à recueillir en proviennent de l’enregistrement volontaire d’une adresse courriel fournie par l’internaute, lui permettant de recevoir une documentation, de se renseigner sur un point quelconque. Ces informations ne sont jamais communiquées à des tiers.

        <h2>Liens hypertextes</h2>
        Ce site peut proposer plusieurs liens vers d’autres sites et peut vous indiquer vers quel site nous vous suggérons d’aller. Hélène PICAVEZ, qui fournit des prestations de psychologie, ne peut cependant en aucun cas être tenu responsable du contenu des sites qui font l’objet d’un lien hypertexte à partir du présent site internet.

        <h2>Propriétaire du site</h2>
        Hélène PICAVEZ  <br>58 rue du générale de Gaulle 59133 Phalempin <br>
        téléphone: 07 64 13 72 58
        <br>
        Mail: helenepicavez@gmail.com

        <h2>Droits d’auteurs</h2>

        Toute reproduction ou diffusion, intégrale ou partielle, est systématiquement soumise à l’autorisation des propriétaires.

              </p>
            </div>
          </div>
        </div>

