<div class="fond"  style="background-image: url(<%= image_path 'cabinet.jpg'%>)">
<div class="col-xs-12 col-sm-8 partiegauche">
<br>
<br>
<h2 class="text-center">Mon parcours</h2>
<br>
<br>
<p class="text-center">
Je suis Hélène Picavez, psychologue et je vous accueille dans mon cabinet à Phalempin dans le Nord.
<br>
Master 2 psychologie thérapies émotionnelles cognitives et comportementales EMDR Thérapies systémiques brèves Formation thérapie familiale en cours
<br>
Thérapies cognitives et comportementales (restructuration cognitive, estime de soi..), EMDR (désensibilisation par les mouvements oculaires), psychologie positive, ACT, pleine conscience
<br>
Pratique intégrative avec une formation solide de TECC, forte d'une expérience institutionnelle de 12 ans auprès d'équipes pluridisciplinaires. Ecoute bienveillante tournée vers la recherche de solutions.
<br>
Cabinet douillet, confortable pour que le patient se sente le plus à l'aise possible. Le lieu est propice à une travail d'équipe optimal.
<br>
N'hésitez pas à me contacter !
</p>
</div>
<div class="col-xs-12 col-sm-4 carteinfo text-center">
  <br>
  <br>
  <br>
<h2>Me retrouvez</h2>
<img src="images/map.png" style="height: 100px" alt="">
<p>adresse</p>
<p>téléphone</p>
</div>
</div>
