<div class="row fondtarif"  style="background-image: url(<%= image_path 'facade.jpg'%>)">
<div class="col-xs-12 col-sm-8 partiegauche">
<div class="cardcontactgauche">
<h2 class="text-center">INFORMATIONS TARIFAIRES</h2>
<br>
<br>
<p>
  <strong>Séance en individuel (enfant, adolescent ou adulte) :</strong> 50 euros (environ 45 min)
</p>
<br><br>
<p><strong>Séance EMDR :</strong> 80 euros (environ 1 h)</p>
<br><br>
<p><strong>Séance en couple :</strong> 70 euros (environ 1 h)</p>
<br><br>
<p>Réglement  par chèque ou espèces.</p>
<br><br>
<p>Cabinet ouvert également le samedi matin</p>
<br><br>
<p>Les consultations de psychologie ne sont pas remboursées par la Sécurité Sociale mais n'hésitez pas à vous renseigner auprès de votre mutuelle. Elles sont de plus en plus à proposer une prise en charge.</p>
</div>
</div>
<div class="col-xs-12 col-sm-4 carteinfo text-center">
<div class="cardcontact text-center" style="position: fixed;">
<h2>Me retrouver</h2>
<br>
<div id="map" style="width: 100%; height: 200px;"></div>
<br>
<br>
<p>58 Rue du Général de Gaulle <br>59133 Phalempin</p>
<p>(2 minutes à pied de la gare)</p>
<p> 07 64 13 72 58</p>
</div>
</div>
</div>

    <script>
      function initMap() {
        var uluru = {lat: 50.516624, lng: 3.0172443000000158};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUMdGkbcdLu1QCk5hbog_NwwvQjmp4rZs&callback=initMap">
    </script>
