<div class="row fondtarif"  style="background-image: url(<%= image_path 'facade.jpg'%>)">
<div class="col-xs-12 col-sm-8 partiegauche">
<div class="cardcontactgauche">
<h2 class="text-center">INFORMATIONS TARIFAIRES</h2>
<br>
<br>
<p>
  <strong>Séance en individuel (enfant, adolescent ou adulte) :</strong> 50 euros (45 min)
</p>
<br><br>
<p><strong>Séance EMDR :</strong> 80 euros (environ 1 h)</p>
<br><br>
<p><strong>Séance en couple :</strong> 70 euros (environ 1 h)</p>
<br><br>
<p>Règlement  par chèque ou espèces.</p>
<br><br>
<p>Cabinet ouvert le samedi matin</p>
<br><br>
<p>Les consultations de psychologie ne sont pas remboursées par la Sécurité Sociale mais n'hésitez pas à vous renseigner auprès de votre mutuelle. Elles sont de plus en plus à proposer une prise en charge.</p>
</div>
</div>
<div class="col-xs-12 col-sm-4 carteinfo text-center">
<div class="cardcontact text-center" style="position: fixed;">
<h2>Me retrouver</h2>
<br>
<img src="images/map.png" style="height: 100px; width: 200px;" alt="">
<br>
<br>
<p>58 Rue du Général de Gaulle <br>59133 Phalempin</p>
<p>(2 minutes à pied de la gare)</p>
<p> 07 64 13 72 58</p>
</div>
</div>
</div>
